.topbar{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 4rem);
    height: 2.8rem;
    // background-color: rgba($color: #ff0000, $alpha: 0.5);
    display: flex;
    flex-flow: row;
    margin: 2rem;
    justify-content: space-between;
    $border-size: 1px;
    // box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    .link-container{
        display: flex;
        flex-flow: row;
        gap: 2px;

        .logo-border {
            color: black;
            background-color: white;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.8rem;
            position: relative;
            box-sizing: border-box;
            padding: 3px ;

            .logo{
                width: 100%;
                height: 100%;
                border-radius: 8px;
                border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                // background-color: red;
            }
        }

        ul.links{
            background: rgb(37,39,43);
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 3px;
            padding: 3px;
            box-sizing: border-box;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;


            li.link{
                background: rgb(37,39,43);
                height: calc(100% - 2*$border-size);
                padding: 0 1rem;
                border-radius: 8px;
                border: $border-size solid hsl(220, 8%, 30%);
                display: flex;
                justify-content: center;
                align-items: center;

                a{
                    text-decoration: none;
                    color: white;
                    font-size: 0.9rem;
                    text-transform: uppercase;
                }
            }
        }
    }

    .actions{
        // background-color: white;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-content: center;

        .login{
            color: grey;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .signin{
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 1px solid white;
            margin: 0;
            padding: 0 1.5rem;
            position: relative;
            p{margin: 0;}

            &:after{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                // background: red;
                border: 1px solid white;
                animation: border-rotation 1s infinite alternate linear
            }
            &:before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                // background: red;
                border: 1px solid white;
                animation: border-rotation 1s infinite alternate-reverse linear
            }
        }
    }
}

@keyframes border-rotation{
    0% {
        transform: rotateZ(2deg);
    }
    100% {
        transform: rotateZ(-2deg);
    }
}